<% if(classes){%> <% classes.forEach(function (course) {%> <%
if(course.classInstructors.includes(user.id)){%>
<div class="class">
  <a href="instructorCoursePage/<%= course.id %>"
    ><div class="container">
      <h2><%= course.className %></h2>
      <div class="class-info">
        <%= course.classLocation %>
        <br />
        <%= user.firstName %> <%= user.lastName %>
      </div>
    </div>
  </a>
</div>
<% } %> <% })%> <%} else {%>
<div>
  <h3><%= user.firstName %> has no classes</h3>
</div>
<%} %>
