<% if(course.classWaitlist.length > 0) { %> <%
course.classWaitlist.forEach(function (student){%>
<div class="waitlist-buttons">
  <form
    action="../instructorCoursePage/<%= course.id%>/<%= student._id%>/true"
    method="POST"
  >
    <input
      type="submit"
      class="student-waitlist check"
      value="add"
      id="studenty"
    />
  </form>
  <form
    action="../instructorCoursePage/<%= course.id%>/<%= student._id%>/false"
    method="POST"
  >
    <input
      type="submit"
      class="student-waitlist x"
      value="remove"
      id="studentx"
    />
  </form>
  <label for="student"><%= student.firstName%> <%= student.lastName%> </label>
  <br />
</div>

<% }) %> <%} else{%>
<div>
  <p>Waitlist is empty</p>
</div>
<%} %>
